HTTPServiceTester/Service References/PaymentProcessorHTTPService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PaymentProcessorHTTPService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49820/PaymentProcessorHTTPService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPaymentProcessor_Process_InputMessage">
    <wsdl:part name="parameters" element="tns:Process" />
  </wsdl:message>
  <wsdl:message name="IPaymentProcessor_Process_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentProcessor_ProcessBatch_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessBatch" />
  </wsdl:message>
  <wsdl:message name="IPaymentProcessor_ProcessBatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessBatchResponse" />
  </wsdl:message>
  <wsdl:portType name="IPaymentProcessor">
    <wsdl:operation name="Process">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentProcessor/Process" message="tns:IPaymentProcessor_Process_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentProcessor/ProcessResponse" message="tns:IPaymentProcessor_Process_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessBatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentProcessor/ProcessBatch" message="tns:IPaymentProcessor_ProcessBatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentProcessor/ProcessBatchResponse" message="tns:IPaymentProcessor_ProcessBatch_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPaymentProcessor" type="tns:IPaymentProcessor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Process">
      <soap:operation soapAction="http://tempuri.org/IPaymentProcessor/Process" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessBatch">
      <soap:operation soapAction="http://tempuri.org/IPaymentProcessor/ProcessBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentProcessorHTTPService">
    <wsdl:port name="BasicHttpBinding_IPaymentProcessor" binding="tns:BasicHttpBinding_IPaymentProcessor">
      <soap:address location="http://localhost:49820/PaymentProcessorHTTPService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>