TCPServiceTester/Service References/TCPPaymentService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TCPPaymentProcessor.Model" />
  <xs:element name="Process">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TCPPaymentProcessor.Model" minOccurs="0" name="transaction" nillable="true" type="q1:PaymentTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TCPPaymentProcessor.Model" minOccurs="0" name="ProcessResult" nillable="true" type="q2:ProcessResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TCPPaymentProcessor.Model" minOccurs="0" name="transactions" nillable="true" type="q3:ArrayOfPaymentTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TCPPaymentProcessor.Model" minOccurs="0" name="ProcessBatchResult" nillable="true" type="q4:ArrayOfProcessResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>