TCPServiceTester/Service References/TCPPaymentService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TCPPaymentProcessor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IPaymentProcessor_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="2147483000">
          </wsrm:InactivityTimeout>
          <wsrm:AcknowledgementInterval Milliseconds="200">
          </wsrm:AcknowledgementInterval>
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/TCPPaymentProcessor.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPaymentProcessor_Process_InputMessage">
    <wsdl:part name="parameters" element="tns:Process" />
  </wsdl:message>
  <wsdl:message name="IPaymentProcessor_Process_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentProcessor_ProcessBatch_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessBatch" />
  </wsdl:message>
  <wsdl:message name="IPaymentProcessor_ProcessBatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessBatchResponse" />
  </wsdl:message>
  <wsdl:portType name="IPaymentProcessor">
    <wsdl:operation name="Process">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentProcessor/Process" message="tns:IPaymentProcessor_Process_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentProcessor/ProcessResponse" message="tns:IPaymentProcessor_Process_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessBatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentProcessor/ProcessBatch" message="tns:IPaymentProcessor_ProcessBatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentProcessor/ProcessBatchResponse" message="tns:IPaymentProcessor_ProcessBatch_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IPaymentProcessor" type="tns:IPaymentProcessor">
    <wsp:PolicyReference URI="#NetTcpBinding_IPaymentProcessor_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Process">
      <soap12:operation soapAction="http://tempuri.org/IPaymentProcessor/Process" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessBatch">
      <soap12:operation soapAction="http://tempuri.org/IPaymentProcessor/ProcessBatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TCPPaymentProcessor">
    <wsdl:port name="NetTcpBinding_IPaymentProcessor" binding="tns:NetTcpBinding_IPaymentProcessor">
      <soap12:address location="net.tcp://localhost:15000/paymentprocessor" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:15000/paymentprocessor</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>