TCPServiceTester/Service References/TCPPaymentService/TCPPaymentProcessor.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TCPPaymentProcessor.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TCPPaymentProcessor.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PaymentTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="PaymentAmount" type="xs:double" />
      <xs:element minOccurs="0" name="TenderType" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionAmount" type="xs:double" />
      <xs:element minOccurs="0" name="TransactionID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentTransaction" nillable="true" type="tns:PaymentTransaction" />
  <xs:complexType name="ProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResult" nillable="true" type="tns:ProcessResult" />
  <xs:complexType name="ArrayOfPaymentTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PaymentTransaction" nillable="true" type="tns:PaymentTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPaymentTransaction" nillable="true" type="tns:ArrayOfPaymentTransaction" />
  <xs:complexType name="ArrayOfProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProcessResult" nillable="true" type="tns:ProcessResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcessResult" nillable="true" type="tns:ArrayOfProcessResult" />
</xs:schema>